<ion-list>

  <ion-item (click)="selectedCountry('us')">
    <ion-label>United States</ion-label>
    <ion-img src="/assets/icon-flags/us.svg" class="flag-icon"></ion-img>
  </ion-item>

  <ion-item (click)="selectedCountry('de')">
    <ion-label>Germany</ion-label>
    <ion-img src="/assets/icon-flags/de.svg" class="flag-icon"></ion-img>
  </ion-item>

  <ion-item (click)="selectedCountry('ch')">
    <ion-label>Switzerland</ion-label>
    <ion-img src="/assets/icon-flags/ch.svg" class="flag-icon"></ion-img>
  </ion-item>

  <ion-item (click)="selectedCountry('it')">
    <ion-label>Italy</ion-label>
    <ion-img src="/assets/icon-flags/it.svg" class="flag-icon"></ion-img>
  </ion-item>

  <ion-item (click)="selectedCountry('co')">
    <ion-label>Colombia</ion-label>
    <ion-img src="/assets/icon-flags/co.svg" class="flag-icon"></ion-img>
  </ion-item>

  <ion-item (click)="selectedCountry('gb')">
    <ion-label>United Kingdom</ion-label>
    <ion-img src="/assets/icon-flags/gb.svg" class="flag-icon"></ion-img>
  </ion-item>

  <ion-item (click)="selectedCountry('fr')">
    <ion-label>France</ion-label>
    <ion-img src="/assets/icon-flags/fr.svg" class="flag-icon"></ion-img>
  </ion-item>

  
</ion-list>
